@font-face{
	font-family: 'soure_names';
	src:url(fonts/soure_names/soure_names.eot);
	src:url(fonts/soure_names/soure_names.eot?#iefix) format('embedded-opentype'),
		url("fonts/soure_names/soure_names.ttf") format("truetype"),
		url("fonts/soure_names/soure_names.woff") format("woff"),
		url("fonts/soure_names/soure_names.svg") format("svg");
}
@font-face {
    font-family: 'yekan';
    src:url("fonts/yekan/BYekan.eot") format('eot'),
          url("fonts/yekan/BYekan.woff") format('woff'),
          url("fonts/yekan/BYekan.ttf") format('truetype');
}
@font-face {
    font-family: 'nazanin';
    src:url("fonts/nazanin/BNazanin.eot") format('eot'),
          url("fonts/nazanin/BNazanin.woff") format('woff'),
          url("fonts/nazanin/BNazanin.ttf") format('truetype');
}
@font-face {
    font-family: 'quran-taha';
    src:url("fonts/nazanin/BNazanin.ttf") format('truetype');
}
@font-face {
    font-family: 'bismillah';
    src:url("fonts/bismillah/bismillah.eot") format('eot'),
          url("fonts/bismillah/bismillah.woff") format('woff'),
          url("fonts/bismillah/bismillah.ttf") format('truetype');
}
